:root {
 --content-width: 50rem;
}

main {
    max-width: var(--content-width);
    margin: auto;
}


#canvas-container{
    position: relative;
}

#canvas-preview{
    top: 0;
    left: 0;
    position: absolute;
}

#canvas{
    background: #ffffff;
}

.white-board{
    background: #4a4a4a;
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
}
